body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f2f3f5;
  }
  
  .static-image {
    position: fixed;
    left: 50;
    top: 50;
    width: 300px; /* adjust this to change the size of the image */
    height: auto; /* maintain aspect ratio */
}


  h1, h2 {
    color: #444;
    /* color: #cc4949; */
  }

  h3 {
    color: #c09538;
    /* color: #cc4949; */
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    color: #2980b9;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Add some padding and a gray background color to posts */
  .post {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  /* Add a subtle border to the bottom of the post title */
  .post h2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
  }
  
  /* Add some space between the post title and the post content */
  .post p {
    margin-top: 20px;
  }

  .post-title {
    font-size: 30px;
}